# .NET Core
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework
Migrations/

# DotCover
*.dotCover

# Logs
*.log

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.config
*.ide

# Local history for Visual Studio
.localhistory/

# IIS Express
.vs/
*.vs/

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
app.publish/

# npm
node_modules/

# Azure Functions
.local.settings.json

# Docker
docker-compose.override.yml
docker-compose.*.yml
.env

# SonarQube
.sonar/